.separador-bg {
    background: #FFD480;
}

.separador {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.separador li {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 27ch;
    font-family: 'Roboto';
    font-weight: 500;
}

@media (max-width: 800px) {
    .separador {
        padding: 20px 0;
    }
    .separador li {
        gap: 12px;
        font-size: .75rem;
    }
    .icone-separador {
        width: 32px;
    }
}

@media (max-width: 600px) {
    .separador-bg {
        display: none;
    }
}