.separador-bg {
    background: #FFD480;
}

.separador {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.separador li {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 27ch;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
}