.titulo-bg {
  background: #FFA800;
  padding: 60px;
}

.titulo {
  position: relative;
}

.titulo::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 0px;
}

.titulo h1 {
  font-family: 'Poppins', helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  color: #111;
}

.titulo p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #714A00;
}

.sobre-conteudo {
  padding: 120px 0;
}

.historia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;
  align-items: end;
}

.historia h2 {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.historia p {
  margin-top: 10px;
  font-size: 1rem;
}

.missao {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px;
  align-items: end;
}

.missao h2 {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.missao p {
  margin-top: 10px;
  font-size: 1rem;
}