body {
  font-family: Arial, sans-serif;
  margin: 0px;
  color: #000;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}